<div class = "welcome_title" >
<h1> Welcome to the Rankings Tracker </h1>
</div>

<div = "welcome_buttons" >
  <%= link_to "Sign up now!", new_user_path %>
  <%= link_to "Sign in now!", signin_path %> 
